<div class="clearfix">
 <p class="author-category">
     {{ if isset .Params "vendor" }}
         Vendor: {{ .Params.prime }}<br>
     {{ end }}

     {{ if isset .Params "category" }}
         <span class="fa fa-tags" title="Tags"></span> {{ delimit .Params.tags ", " }}<br>
     {{ end }}
     
     {{ if isset .Params "tags" }}
         Tags: {{ delimit .Params.tags ", " }}<br>
     {{ end }}

     {{ if isset .Params "date" }}
         <p class="date-comments">
             <a href="{{ .Permalink }}"><span class="fa fa-calendar-o" title="Award Date"></span> {{ .Date.Format .Site.Params.date_format }}</a>
         </p>
     {{ end }}
 </p>
</div>
