<div class="box-simple box-white same-height">
    <img src="/img/partials/hubzone.png" alt="HUBZone">
    <h3>HUBZone-Certified</h3>
    <p>
       The HUBZone program encourages economic development in historically underutilized business zones - "HUBZones" - through
       the establishment of preferences. It provides competitive and sole source contracting opportunities. It also offers 10% price
       evaluation preference in full and open contract competitions.
    </p>
</div>

<div class="box-simple box-white same-height">
    <a href="https://www.vip.vetbiz.va.gov/Search/BusinessProfile/8d8942f2-35f5-e611-942c-0050568df19d" target="_blank">
        <img src="/img/partials/sdvosb.png" alt="SDVOSB">
    </a>
    <h3>VA-certified SDVOSB</h3>
    <p>
        NineFX is certified as a Service-Disabled Veteran-Owned Small Business (SDVOSB) by the US Department
        of Veterans Affairs Vets First Verification Program. It ensures that set-aside funds are awarded to
        legitimate firms owned and controlled by Veterans and Service-disabled Veterans. VA-certification
        enhances access to contracting opportunities inside the VA.
    </p>
</div>
