<div class="container">
    <div class="row same-height-row">
        <!-- Start first column -->
        <div class="col-md-8">
            {{ .Content }}
        </div>
        <!-- End first column -->
        <!-- Start second column -->
        <div class="col-md-4">
            <div class="accordion" id="cardAccordion">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <div class="card-title mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p class="fa fa-users m-0"></p> Markets
                            </button>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#cardAccordion">
                        <div class="card-body">
                            <p class="card-text">
                                NineFX provides state-of-the-art solutions to government and commercial clients.
                            </p>
                            <p class="card-text">
                                We provide software engineering services to large companies that focus well-tested solutions
                                with on-time delivery. We utilize our economy of scale to provide software talent or
                                complete
                                delivery teams.
                            </p>
                            <p class="card-text">
                                In the Federal market, we have partnered with other companies to tackle complex problems.
                                We also provide innovative solutions to agencies as a prime contractor.
                            </p>
                        </div>
                                                
                    </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h4 class="card-title mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="fa fa-users m-0"></p> People
                            </button>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#cardAccordion">
                        <div class="card-body">
                            <p class="card-text">
                                We hire the best and brightest. Unlike some companies that focus on what you have done,
                                we value what you can do.
                            </p>
                            <p class="card-text">
                                We are committed to the HUBZone program. We strive to hire motivated veterans and other
                                professionals that live in
                                <a href="https://maps.certify.sba.gov/hubzone/map" target="_blank">HUBZone areas</a>.
                                Veterans bring unique skills and leadership to our team. Drop us a line if you are
                                excited by
                                cutting edge technology and want to be part of the NineFX team.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h4 class="card-title mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <p class="fa fa-info-circle m-0"></p> Federal Contracting Info
                            </button>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#cardAccordion">
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>DUNS</th>
                                    <td>830826587</td>
                                </tr>
                                <tr>
                                    <th>CAGE Code</th>
                                    <td>6YBJ3</td>
                                </tr>
                                <tr>
                                    <th>HUBZone Verification</th>
                                    <td><a href="http://web.sba.gov/pro-net/search/dsp_profile.cfm?RequestTimeout=60&DUNS=830826587"
                                            target="_blank">DSBS Link</a></td>
                                </tr>
                                <tr>
                                    <th>SDVOSB Verification</th>
                                    <td><a href="https://www.vip.vetbiz.va.gov/Search/BusinessProfile/8d8942f2-35f5-e611-942c-0050568df19d"
                                            target="_blank">VA Vendor Information Pages</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div class="accordion">
        </div>
        <!-- End second column -->
    </div>
    <!-- end row -->
</div>
<!-- container-->