<div class="clearfix">
    <div class="row align-items-start">
        <div class="col-8">

            <p class="author-category">
                {{ if isset .Params "prime" }}
                Prime:
                {{ if isset .Params "prime_url" }}
                <a href="{{ .Params.prime_url }}" target="_blank" >{{ .Params.prime }}</a><br>
                {{ else }}
                {{ .Params.prime }}<br>
                {{ end }}
                {{ end }}
                
                {{ if isset .Params "value" }}
                <span class="fa fa-dollar-sign" title="Value"></span> {{ .Params.value }}<br>
                {{ end }}
                
                {{ if isset .Params "duration" }}
                <span class="fa fa-clock-o" title="Duration"></span> {{ .Params.length }}<br>
                {{ end }}
                
                {{ if isset .Params "tags" }}
                <span class="fa fa-tags" title="Tags"></span> {{ delimit .Params.tags ", " }}<br>
                {{ end }}
            </p>
        </div>
     <div class="col-4">

         {{ if isset .Params "date" }}
         <p class="date-comments">
             <a href="{{ .Permalink }}"><span class="fa fa-calendar" title="Award Date"></span> {{ .Date.Format .Site.Params.date_format }}</a>
            </p>
        </div>
    </div>
        {{ end }}
</div>
