<footer id="footer" class="main-footer">
    <div class="container">
        <div class="row">

            {{ if isset .Site.Params "about_us" }}
            <div class="col-lg-4 col-md-6">
                <h4>{{ i18n "aboutUs" }}</h4>
                <p>
                    {{ .Site.Params.about_us | markdownify }}
                </p>
                <hr class="d-lg-none">
            </div class="col-lg-4 col-md-6">
            {{ end }}

            <div class="col-lg-5 col-md-6">

                {{ if and (isset .Site.Params "recent_posts") (.Site.Params.recent_posts.enable) }}
                <h4 class="mb-4">Recent News</h4>

                <div class="blog-list">
                    {{ range first 3 (where .Site.RegularPages "Type" "news") }}
                    <div class="same-height-row align-items-center item clearfix">
                        <div class="image same-height-always">
                            <a href="{{ .Permalink }}">
                                <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-fluid" alt="{{ .Title }}">
                            </a>
                        </div>
                        <div class="name same-height-always col-10">
                            <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                        </div>
                    </div>
                    {{ end }}
                </div class="blog-entries">

                {{ end }}
                <hr class="d-lg-none">

            </div class="col-lg-6 col-md-6">

            {{ if isset .Site.Params "company_name" }}
            <div class="col-md-3 col-sm-6">
                <div class="contact">
                    <h4>{{ i18n "contactTitle" }}</h4>
                    <strong>{{ .Site.Params.company_name | markdownify}}</strong>
                    <address>
                        {{ .Site.Params.street_address | markdownify}}
                        {{ .Site.Params.city_state | markdownify}}<br>
                    </address>
                    <a
                        href="tel:{{ .Site.Params.phone_number | safeHTML }}">{{ .Site.Params.phone_number | markdownify }}</a><br>
                    <a class="btn btn-outline-primary mt-1" href="/contact">Send us a message</a>
                </div class="contact">
            </div class="col-md-4 col-sm-6">
            <hr class="hidden-xl hidden-md hidden-lg hidden-sm">
            {{ end }}
        </div class="row">
    </div class="container">

    <div id="copyright" class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ if isset .Site.Params "copyright" }}
                    <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
                    {{ end }}
                    <p class="pull-right">
                    </p>
                </div>
            </div>
        </div>
    </div id="copyright">

</footer id="footer">