<section class="bar background-gray">
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-simple">
                        <img src="/img/partials/hubzone.png" alt="HUBZone">
                        <h3>HUBZone-Certified</h3>
                        <p>
                           The HUBZone program encourages economic development in historically underutilized business
                           zones - "HUBZones" - through the establishment of preferences. It provides competitive and
                           sole source contracting opportunities and offers 10% price evaluation preference in full 
                           and open contract competitions.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box-simple">
                        <a href="https://www.vip.vetbiz.va.gov/Search/BusinessProfile/8d8942f2-35f5-e611-942c-0050568df19d" target="_blank">
                            <img src="/img/partials/sdvosb.png" alt="SDVOSB">
                        </a>
                        <h4>VA-certified SDVOSB</h4>
                        <p>
                            NineFX is certified as a Service-Disabled Veteran-Owned Small Business (SDVOSB) by the US Department
                            of Veterans Affairs Vets First Verification Program. It ensures that set-aside funds are awarded to
                            legitimate firms owned and controlled by Veterans and Service-disabled Veterans. VA-certification
                            enhances access to contracting opportunities.
                        </p>
                    </div>
                </div>
        </div>
    </div>
</section>
