<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "contracts") }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-4">
                                  <div class="image">
                                      <a href="{{ .Permalink }}">
                                          {{ if .Params.banner }}
                                          <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-fluid" alt="{{ .Title }}">
                                          {{ else }}
                                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-fluid" alt="{{ .Title }}">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    <!-- <div class="row justify-content-between"> -->
                                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                        {{ partial "contract_metadata.html" . }}
                                        
                                    <!-- </div> -->
                                            <!-- <div class="col-4">
                                        <div class="col-6"> -->

                                            <div class="intro">{{ .Summary }}</div>
                                            {{ partial "contract_awards.html" . }}
                                            <p class="read-more">
                                                <a href="{{ .Permalink }}" class="btn btn-outline-primary">{{ i18n "continueReading" }}</a>
                                            </p>
                                        <!-- </div> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </section>
                        {{ end }}

                        <ul class="pagination d-flex align-items-center justify-content-between list-unstyled">
                            {{ if .Paginator.HasPrev }}
                            <li class="page-item active">
                                <a class="page-link" href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; {{ i18n "newer" }}</a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="page-item active">
                                <a class="page-link" href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">{{ i18n "older" }} &rarr;</a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">{{ i18n "older" }} &rarr;</a>
                            </li>
                            {{ end }}
                        </ul>

                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
